/* Extra Extra small =================== */

@media (max-width: 320.98px){
    h1{
        font-size: 30px;
        line-height: 45px;
    }
    .inner-banner{
        width: 100%;
        padding: 120px 0;
    }
    
    /* ======================================== */ 
/* navigation
/* ======================================== */ 

.nav-link{
    margin-bottom: 7px;
}


        /* ======================================== */ 
/* about us css 
/* ======================================== */ 
    #about-us{
        padding: 50px 0;
    }
    #about-us h2{
        font-size: 30px;
        color: var(--primary-color);
        font-weight: 700;
        line-height: 55px;
    }

    
/* ======================================== */ 
/* cta section
/* ======================================== */ 

.inner-cta h2{
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}
.inner-cta p{
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

/* ======================================== */ 
/* Mobile app
/* ======================================== */ 


#mobile-app .inner-mobile-app-text h2{
    font-size: 35px;

    line-height: 50px;
    
}


/* ======================================== */ 
/* simple banner
/* ======================================== */ 


#simple-banner h2{
    
    font-size:30px;
    line-height: 50px;
}



}

/* // Extra small devices (portrait phones, less than 576px) */

@media (min-width: 321px) and (max-width:575.98px) { 
    h1{
        font-size: 40px;
        line-height: 45px;
    }
    .inner-banner{
        width: 100%;
        padding: 130px 0;
    }

        /* ======================================== */ 
/* about us css 
/* ======================================== */ 
#about-us{
    padding: 50px 0;
}
#about-us h2{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 55px;
}

/* ======================================== */ 
/* cta section
/* ======================================== */ 

.inner-cta h2{
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}
.inner-cta p{
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

/* ======================================== */ 
/*Mobile APp
/* ======================================== */ 


#mobile-app .inner-mobile-app-text h2{
    font-size: 35px;

    line-height: 50px;
    
}

/* ======================================== */ 
/* simple banner
/* ======================================== */ 


#simple-banner h2{
    
    font-size:35px;
    line-height: 50px;
}

}


 



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 40px;
    }
    .inner-banner{
        width: 70%;
        padding: 130px 0;
    }

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 40px;
    }
    .inner-banner{
        width: 70%;
        padding: 130px 0;
    }
        /* ======================================== */ 
/* about us css 
/* ======================================== */ 
#about-us{
    padding: 50px 0;
}
#about-us h2{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 55px;
}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* /* // Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) { 

 }