/* ======================================== */ 
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@400;500;600;700&display=swap');
/* global css 
/* ======================================== */ 
html {
    scroll-behavior: smooth;
  }
:root {
    --primary-color: #2c3e50;
    --secendary-color: #fed330;
    --white-color:#ffffff;
  }

body{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rosario', sans-serif;
}
img{
    max-width: 100%;
}
h1{
    font-size: 50px;
    line-height: 65px;
    font-weight: 800;
    margin-bottom: 25px;
    color: var(--primary-color);
}
p{
    font-weight: 500;
    font-size: 16px;
    color: #4b525c;
    line-height: 32px;
    margin-bottom: 30px;
}
.main-btn{
    border: 2px solid var(--secendary-color);
    outline: none;
    background-color: var(--secendary-color);
    font-family: 'Rosario', sans-serif;
    font-weight: 900;
    padding: 10px 34px;
    transition: 0.3s;

}
.main-btn:hover{
    background-color: transparent;
}
/* ======================================== */ 
/* custom css 
/* ======================================== */ 
header{
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(233, 233, 233, 0.4);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px 0;
    background-color: floralwhite;
}
.logo{
    width: 150px;
}

.nav-link{
    color: black !important;
    font-weight: 700;
    margin-left: 25px;
}

.myBtn{
    background-color:var(--secendary-color) ;
    padding: 12px 30px;
    color: var(--primary-color) !important;
    display: inline-block;
    border: none;
    outline: none;
    font-weight: 800;
    margin-left: 20px;
    border: 2px solid var(--secendary-color);
    transition: 0.3s ease;
    
}
.myBtn:hover{
    background-color: transparent;

}

/* ======================================== */ 
/* banner css 
/* ======================================== */ 
#banner{
    background-image: url(../img/images/bg/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* height: 90vh; */
    /* min-width: 100vw; */
}
.inner-banner{
    width: 50%;
    padding: 170px 0;
}

/* ======================================== */ 
/* counter css 
/* ======================================== */ 

#count{
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;

}
#count h2{
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    color: var(--white-color);
}
#count span{
    font-size: 30px;
    color: var(--white-color);
}
#count h4{
    font-size: 14px;
    color: var(--white-color);
    margin-top: 10px;
}

/* ======================================== */ 
/* about us css 
/* ======================================== */ 
#about-us{
    padding: 50px 0;
}
#about-us h2{
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 55px;
}

/* ======================================== */ 
/* cta section
/* ======================================== */ 
#cta{
    background-image: url(../img/images/bg/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 50px 0;
    margin-top: 50px;
}
.inner-cta h2{
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: 30px;
}
.inner-cta p{
    padding: 0 100px;
    font-weight: 600;
    letter-spacing: 1px;
}


/* ======================================== */ 
/* explore food section
/* ======================================== */ 

#exploreFoods{
    margin-top: 100px;
    
}
#exploreFoods .explore-food-title{
    text-align: center;
    margin-bottom: 80px;
}

#exploreFoods .explore-food-title h2{
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: 30px;
    
}

.inner-explore-item{
    max-width: 400px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(233, 233, 233, 0.4);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-bottom: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.inner-explore-item h5{
    padding-left: 20px;
    margin-top: 20px;
}
.inner-explore-item h3{
    padding-left: 20px;
    display: inline-block;
    
}
.inner-explore-item .color-item{
    color:var(--secendary-color);
    font-weight: 800;
    
}
.inner-explore-item p{
    padding-left: 20px;
    
}
.inner-explore-item h4{
    padding-left: 20px;
    display: inline-block;
}
.inner-explore-item .explore-btn{
    padding: 5px 28px !important;
    display: block;
    margin-left: 20px;
    margin-top: 15px;
}

/* ======================================== */ 
/* testimonial section
/* ======================================== */ 

#testimonial{
    background-image: url(../img/images/bg/bg-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px 0;
    text-align: center;
    margin-top: 100px;
}
#testimonial h2{
    color: var(--secendary-color);
    font-weight: 800;

}
#testimonial .inner-testimonial{
    width: 900px;
    background-color: var(--white-color);
    text-align: center !important;
    margin-top: 50px;
    border-radius: 10px;
    padding: 30px 15px;

}
#testimonial .inner-testimonial img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center !important;
    margin-bottom: 15px;
    border: 2px solid var(--primary-color);
}
#testimonial .inner-testimonial p{
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
}
#testimonial .inner-testimonial h4{
    
    font-weight: 900;
    color: var(--secendary-color);
}

/* ======================================== */ 
/* cook section
/* ======================================== */ 

#cook{
    /* height: 100vh; */
    padding: 100px 0;
    
}
#cook h2{
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 80px;
    font-weight: 900;

}
#cook .inner-cook{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 40px;
    transition: 0.3s;
    transform: translateY(0);
    
}
#cook .inner-cook:hover{
    transform: translateY(-5px);
}
#cook .inner-cook img{
    width: 100%;
}
#cook .inner-cook h4{
    margin-left: 20px;
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 700;
    
}
#cook .inner-cook h6{
    margin-left: 20px;
    color: var(--secendary-color);
}
#cook .inner-cook p{
    margin:15px 10px;
}
#cook .inner-cook .cook-social-media{

    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
#cook .inner-cook .cook-social-media li{
    margin-left: 15px;
}
#cook .inner-cook .cook-social-media li:first-child{
    margin-left: 0px;
}

#cook .inner-cook .cook-social-media li a{
    color: white;
    background-color: var(--primary-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    border: 2px solid var(--primary-color);
    transition: 0.3s;
}
#cook .inner-cook .cook-social-media li a:hover{
    color: var(--primary-color);
    background-color: transparent;
}



/* ======================================== */ 
/* simple banner
/* ======================================== */ 

#simple-banner{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url(../img/images/bg/bg-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
    text-align: center;
}
#simple-banner h2{
    color: var(--white-color);
    text-align: center;
    font-weight: 900;
    font-size:35px;
    line-height: 50px;
}
#simple-banner .simple-banner-btn{
    margin-top: 25px;
}



/* ======================================== */ 
/* mobile app
/* ======================================== */ 
#mobile-app{
    margin: 100px 0;
}
#mobile-app .inner-mobile-app-text{
    margin-bottom: 40px;
}
#mobile-app .inner-mobile-app-text h2{
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 800;
    line-height: 60px;
    
}


/* ======================================== */ 
/* mobile app
/* ======================================== */ 

footer{
    background-color: var(--primary-color);
    padding: 30px;
}
footer .important-link{
    list-style: none;
    padding: 0;
    text-align: center;
}
footer .important-link li{
    margin-left: 30px;
    display: inline-block;
    line-height: 40px;
}
footer .important-link li:first-child{
    margin-left: 0;

}
footer .important-link li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
footer .social-media{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;

}
footer .social-media li{
    margin-left: 25px;
    line-height: 40px;
    display: inline-block;
}
footer .social-media li a{
    color: var(--white-color);
    font-weight: bold;
    font-size: 20px;
    
}
footer p{
    color: var(--white-color);
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}